p {
  border: 2px solid rgba(0, 0, 0, 0.685);
  margin: auto;  
  padding: 0px;
  text-align: center;
}
body {
  background-color: #fad9cf;å
}
body {
  margin: 0;
}


body {
  font-family: Copperplate, Papyrus, fantasy;
}
